{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>인증이메일 재발송</title>{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'user/css/user.css' %}">
{% endblock css %}

{% block content %}
<div class="panel panel-default user-panel">
    <div class="panel-heading">
        인증이메일 발송
    </div>
    <div class="panel-body">
        <form action="." method="post">
            {% csrf_token %}
            <b class="">재발송할 이메일주소를 입력해주세요.</b>
            {% include 'user/partials/form_field.html' with form=form %}
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">인증이메일 발송</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}