{% extends 'base.html' %}

{% block title %}<title>게시글 상세 - {{ article.pk }}. {{ article.title }}</title>{% endblock title %}

{% block content %}
<table class="table table-striped table-bordered">
	<tr>
		<th>번호</th>
		<td>{{ article.pk }}</td>
	</tr>
	<tr>
		<th>제목</th>
		<td>{{ article.title }}</td>
	</tr>
	<tr>
		<th>내용</th>
		<td>{{ article.content | linebreaksbr }}</td>
	</tr>
    <tr>
		<th>작성자</th>
		<td>{{ article.author }}</td>
	</tr>
    <tr>
		<th>작성일</th>
		<td>{{ article.created_at | date:"Y-m-d H:i" }}</td>
	</tr>
</table>

<a href="/article/{{ article.pk }}/update/"><button class="btn btn-primary" type="button">게시글 수정</button></a>
{% endblock content %}